<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>my communite</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<!--头部-->
<div id="header"></div>

<!--内容区-->
<!--内容区-->
<div class="main layui-clear">
  <div class="wrap">
    <div class="content detail">
      <h1 th:text="${question.question.title}"></h1>
      <div class="fly-tip fly-detail-hint" >
        <span class="fly-tip-stick">置顶帖</span>
        <span class="fly-tip-jing">精帖</span>
        
        <!-- <span class="fly-tip-jie">已采纳</span> -->
        
        <!-- <span class="jie-admin" type="del" style="margin-left: 20px;">删除</span>
        <span class="jie-admin" type="set" field="stick" rank="1">置顶</span> 
        <span class="jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span>
        <span class="jie-admin" type="set" field="status" rank="1">加精</span> 
        <span class="jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> -->
        
        <div class="fly-list-hint"> 
          <i class="layui-icon layui-icon-reply-fill" title="回答" th:text="${question.question.commentCount}" style="color: #0C0C0C"></i>
          <i class="layui-icon layui-icon-read" title="人气" th:text="${question.question.viewCount}" style="color: #0C0C0C" ></i>
        </div>
      </div>
      <div class="detail-about">
        <a class="jie-user" href="">
          <img th:src="@{${question.user.avatarUrl}}" alt="">
          <cite th:text="${question.user.name}">
            <em>1分钟前发布</em>
          </cite>
        </a>
        <div class="detail-hits" >
          <span style="color:#FF7200">悬赏：20飞吻</span>
          <span class="jie-admin" type="edit"><a href="">编辑此贴</a></span>
        </div>
      </div>
      
      <div class="detail-body photos" style="margin-bottom: 20px;">
        <span th:text="${question.question.description}" th:remove="tag"></span>

        
        <div  class="fly-ad" style="margin-top: 30px; height:90px; overflow: hidden;">
          
        </div>
      </div>
      
      <a name="comment"></a>
      <h2 class="page-title">热忱回答<span>（<em id="jiedaCount" th:text="${question.question.commentCount}">18</em>）</span></h2>

      <ul class="jieda photos" id="jieda">
        <li data-id="12" class="jieda-daan" th:each="commentDTO:${commentList}">
          <div class="detail-about detail-about-reply">
            <a class="jie-user" href="">
              <img th:src="@{${commentDTO.user.avatarUrl}}" alt="">
              <cite>
                <i th:text="${commentDTO.user.name}">纸飞机</i>
                <!-- <em>(楼主)</em>
                <em style="color:#5FB878">(管理员)</em>
                <em style="color:#FF9E3F">（活雷锋）</em>
                <em style="color:#999">（该号已被封）</em> -->
              </cite>
            </a>
            <div class="detail-hits">
              <span>3分钟前</span>
            </div>
            <i class="layui-icon layui-icon-fire layui-col-md-offset10" style="font-size: 30px; color: red;" title="最佳答案"></i>
          </div>
          <div class="detail-body jieda-body">
            <p th:text="${commentDTO.comment.content}">么么哒</p>
          </div>
          <div class="jieda-reply">
            <span class="jieda-zan zanok" type="zan"><i class="layui-icon layui-icon-praise"></i><em>12</em></span>
            <span type="reply" th:data-id="${commentDTO.comment.id}" onclick="collapseComments(this)" ><i class="layui-icon layui-icon-reply-fill"></i>回复</span>
            <div class="collapse" th:id="${'comment-'+commentDTO.comment.id}">
              二级评论：
            </div>
          </div>
        </li>
        
        <!-- <li data-id="13">
          <a name="item-121212121212"></a>
          <div class="detail-about detail-about-reply">
            <a class="jie-user" href="">
              <img src="" alt="">
              <cite>
                <i>香菇</i>
                <em style="color:#FF9E3F">活雷锋</em>
              </cite>
            </a>
            <div class="detail-hits">
              <span>刚刚</span>
            </div>
          </div>
          <div class="detail-body jieda-body">
            <p>蓝瘦</p>
          </div>
          <div class="jieda-reply">
            <span class="jieda-zan" type="zan"><i class="iconfont icon-zan"></i><em>0</em></span>
            <span type="reply"><i class="iconfont icon-svgmoban53"></i>回复</span>
            <div class="jieda-admin">
              <span type="edit">编辑</span>
              <span type="del">删除</span>
              <span class="jieda-accept" type="accept">采纳</span>
            </div>
          </div>
        </li> -->
        
        <!-- <li class="fly-none">没有任何回答</li> -->
      </ul>
      
      <div class="layui-form layui-form-pane">
        <form >
          <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
              <textarea  class="layui-textarea" id="content" lay-verify="required" required  name="content" placeholder="请输入内容"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <input type="hidden" id="parentId" name="parentId" th:value="${question.question.id}">
            <button class="layui-btn" lay-filter="commentForm" lay-submit>提交回答</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
  <div class="edge">
  
    <h3 class="page-title">最近热帖</h3>
    <ol class="fly-list-one">
      <li>
        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
        <span><i class="iconfont">&#xe60b;</i> 6087</span>
      </li>
      <li>
        <a href=" ">Java实现LayIM后端的核心代码</a>
        <span><i class="iconfont">&#xe60b;</i> 767</span>
      </li>
      <li>
        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
        <span><i class="iconfont">&#xe60b;</i> 767</span>
      </li>
      <li>
        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
        <span><i class="iconfont">&#xe60b;</i> 767</span>
      </li>
      <li>
        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
        <span><i class="iconfont">&#xe60b;</i> 767</span>
      </li>
      <li>
        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
        <span><i class="iconfont">&#xe60b;</i> 767</span>
      </li>
      <li>
        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
        <span><i class="iconfont">&#xe60b;</i> 767</span>
      </li>
      <li>
        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
        <span><i class="iconfont">&#xe60b;</i> 767</span>
      </li>
    </ol>
    
    <h3 class="page-title">近期热议</h3>
    <ol class="fly-list-one">
      <li>
        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
        <span><i class="iconfont">&#xe60c;</i> 96</span>
      </li>
      <li>
        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
        <span><i class="iconfont">&#xe60c;</i> 96</span>
      </li>
      <li>
        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
        <span><i class="iconfont">&#xe60c;</i> 96</span>
      </li>
      <li>
        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
        <span><i class="iconfont">&#xe60c;</i> 96</span>
      </li>
      <li>
        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
        <span><i class="iconfont">&#xe60c;</i> 96</span>
      </li>
      <li>
        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
        <span><i class="iconfont">&#xe60c;</i> 96</span>
      </li>
      <li>
        <a href=" ">Java实现LayIM后端的核心代码</a>
        <span><i class="iconfont">&#xe60c;</i> 96</span>
      </li>
      <li>
        <a href=" ">Java实现LayIM后端的核心代码</a>
        <span><i class="iconfont">&#xe60c;</i> 96</span>
      </li>
    </ol>
    
  </div>
</div>


<!-- <h2 class="page-title">404</h2>
<div class="fly-none">该问题并不存在，可能已被删除</div> -->

<!--底部-->
<div id="footer"></div>

<script src="layui/layui.js" ></script>
<script>
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use(['element','jquery','form','layer'], function(){
    var element = layui.element;
     var $ = layui.jquery;
     var form = layui.form;
     var layer = layui.layer;
	$("#header").load("header");
	$("#footer").load("footer");
    //…
    form.on('submit(commentForm)', function(data) {
      data.field.type=1;
      console.log(data.field);
      $.ajax({
        url: '/comment',
        type: 'post',
        dataType: 'JSON',
        contentType:'application/json',
        data: JSON.stringify(data.field),
        success: function (res) {
          if (res.code==200) {
            layer.msg(res.message);
          } else{
            layer.open({
              title:''
              ,anim: 6
              ,content: res.message
              ,btn: [ '登录']
              ,yes: function(index, layero){
                window.localStorage.setItem("closeable",true);
                window.open("https://github.com/login/oauth/authorize?client_id=5f57e6278bddc120b3b1&redirect_id=http://localhost:8887/callback&scope=user&state=1");

                layer.closeAll();
              }
            });
          }

        },
        error: function () {

        }
      });
      return false;
    });
  });
</script>
<script>

  /**
   * 展开二级评论
   */

  function collapseComments(e) {

    var id = e.getAttribute("data-id");
    var comments = $("#comment-"+id);
    //获取一下二级评论的展开状态
    var collapse = e.getAttribute("data-collapse");
    if(collapse){
      //折叠二级评论
      comments.removeClass("in");
      e.removeAttribute("data-collapse");
    }else{
      //展开二级评论
      comments.addClass("in");
      //标记二级评论展开状态
      e.setAttribute("data-collapse","in");
    }


  }
</script>
</body>
</html>