<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>发布communite</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="layui/css/layui.css">
	<link rel="stylesheet" href="css/community_publish.css">
	<link rel="stylesheet" href="css/global.css">
</head>
<body>
	<!--头部-->
<div id="header"></div>


<!--内容区-->
<div class="layui-container main">
	<div class="layui-row">
		<div class="layui-col-xs12 layui-col-sm12 layui-col-md9">
			<br/>
			<i class="layui-icon layui-icon-release" style="font-size: 20px; color: #1E9FFF;"> &nbsp;&nbsp;发布</i>
			<hr/>
			<form class="layui-form layui-form-pane" >
				<input name="creator" th:value="${session.user.accountId}" type="text" hidden>
				<input name="id" th:value="${questionId}" type="text" hidden>
				<div class="layui-form-item">
					<label class="layui-form-label">问题标题</label>

					<div class="layui-input-block">
						<input type="text" name="title" th:value="${title}" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">问题内容</label>
					<div class="layui-input-block">
						<textarea id="shuru" lay-verify="shuru" th:value="${description}" name="description" placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">添加标签</label>

					<div class="layui-input-block">
						<input type="text" name="tag" th:value="${tag}" required  lay-verify="required" placeholder="有待改进样式" autocomplete="off" class="layui-input">
					</div>
				</div>
				<button type="button" class="layui-btn" id="test1">
					<i class="layui-icon">&#xe67c;</i>上传图片
				</button>
				<br/>

				<div class="layui-form-item btn-publish layui-col-md-offset5">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>


		</div>
		<div class="layui-col-xs12 layui-col-sm12 layui-col-md3">
			<br/>
			<h2>注意事项</h2>
			<div class="layui-collapse">
				<div class="layui-colla-item">
					<h2 class="layui-colla-title">杜甫</h2>
					<div class="layui-colla-content layui-show">内容区域</div>
				</div>
				<div class="layui-colla-item">
					<h2 class="layui-colla-title">李清照</h2>
					<div class="layui-colla-content layui-show">内容区域</div>
				</div>
				<div class="layui-colla-item">
					<h2 class="layui-colla-title">鲁迅</h2>
					<div class="layui-colla-content layui-show">内容区域</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--底部-->
<div id="footer"></div>

<script src="layui/layui.js" ></script>
<script>
	//注意：导航 依赖 element 模块，否则无法进行功能性操作
	layui.use(['element','form','layedit','upload','jquery','layer'], function(){
		var element = layui.element
		var form = layui.form
		var layedit = layui.layedit
		var upload = layui.upload
		var $ = layui.jquery;
		var layer = layui.layer
		var index =layedit.build('shuru');//建立编辑器
		$("#header").load("/header");
		$("#footer").load("/footer");
		form.verify({
			shuru:function () {
				layedit.sync(index);
			}
		});
		//…
		form.on('submit(formDemo)', function(data) {
			console.log(data);
			$.ajax({
				url: '/addpublish',
				type: 'post',
				method:'post',
				data: data.field,
				dataType: 'JSON',
				success: function (res) {
					if (res.status) {
						layer.msg(res.msg);
					} else
						alert(res.msg);
				},
				error: function (data) {

				}
			});
			return false;
		});

		//执行实例
		var uploadInst = upload.render({
			elem: '#test1' //绑定元素
			,url: '/upload/' //上传接口
			,done: function(res){
				//上传完毕回调
			}
			,error: function(){
				//请求异常回调
			}
		});


	});
</script>
</body>
</html>